<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLyKhachSan.Properties.Settings.QuanLyKhachSanConnectionString"
            connectionString="Data Source=HOANGBAO\SQLEXPRESS;Initial Catalog=QuanLyKhachSan;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>